@page "/admin/st-bild/godkann"
@using Foto.WebServer.Dto
@using Foto.WebServer.Services
@using Microsoft.AspNetCore.Authorization
@inherits AuthorizedBasePage
@attribute [Authorize(Policy = "StBildAdministratorPolicy")]
@inject IStBildService StBildService

<PageTitle>Godkänn ST-bilder</PageTitle>
<AppContent ContentMaxWidth="MaxWidth.ExtraSmall">
    <Title>Godkänn ST-bilder</Title>
    <Ingress>Här visas bilder att godkänna. Redan godkända bilder har en grön bock i statusfältet.</Ingress>
    <Container>
        @if (_stBilder.Any())
        {
            <MudTable Hover="true" Items="@_stBilder">
                <HeaderContent>
                    <MudTh>Bild</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Redigera</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Bild">
                        <MudImage Src="@($"/api/images/image/{context.ImageReference}?thumb")"/>
                    </MudTd>
                    <MudTd DataLabel="Status">
                        <MudTooltip Placement="Placement.Bottom" Inline="true" Text="@GetTooltipForStatus(context)">
                            <MudIconButton Class="disable-hover" DisableElevation="true" DisableRipple="true" Icon="@GetIconForStatus(context)" Color="@GetColorForStatus(context)"/>
                        </MudTooltip>
                    </MudTd>
                    <MudTd DataLabel="Redigera">
                        <MudLink Href="@($"/admin/st-bild/edit/{context.Id}?isFromAcceptList=true")">Redigera</MudLink>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
        else
        {
            <AppAlert Severity="Severity.Info">
                Det finns inga nya bilder att godkänna!
            </AppAlert>
        }
    </Container>
</AppContent>

@code {
    private List<StBildInfo> _stBilder = new();
    private bool ShowPackagedImages => false; // Fix later when supporting show packaged images

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await PopulateStBilderList();
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task PopulateStBilderList()
    {
        _stBilder = await StBildService.GetStBilder(ShowPackagedImages);
    }

    public string GetIconForStatus(StBildInfo stBildInfo)
    {
        return stBildInfo.IsAccepted ? Icons.Material.Filled.Check : Icons.Material.Filled.ImageSearch;
    }

    public Color GetColorForStatus(StBildInfo stBildInfo)
    {
        return stBildInfo.IsAccepted ? Color.Success : Color.Inherit;
    }

    public string GetTooltipForStatus(StBildInfo stBildInfo)
    {
        return stBildInfo.IsAccepted ? "Godkänd" : "Skall granskas";
    }

}