@page "/admin/st-bild/edit/{stbildId:guid}"
@inherits AuthorizedBasePage
@attribute [Authorize(Roles = "Admin")]
@using Foto.WebServer.Dto
@using Foto.WebServer.Services
@using Microsoft.AspNetCore.Authorization
@inject IStBildService StBildService

<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="row row-cols-auto align-items-center">
            <h2>Godkänn ST-bild</h2>
    </div>
</div>
<div class="container mt-3">
    <div class="row g-3 mb-5 justify-content-center align-items-center">
        @if (_stBild is null)
        {
            <p>
                <em>Laddar sida...</em>
            </p>
        }
        else
        {
            @if (_isPackaged)
            {
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Bilden är redan skickad till ST!</h4>
                    <p>Bilden är redan skickad till ST och det går inte längre att ändra godkännande.</p>
                </div>
            }
            <CvEditForm id="uploadForm" Model="_stBild" class="form" Context="NewContext">
                <div class="mb-3">
                    <img class="img-thumbnail mt-2" src="/api/images/image/@_stBild.ImageReference?thumb" style="max-width: 8.2em; max-height: 8.2em; object-fit:scale-down;" alt="@_stBild.Title" data-bs-toggle="modal" data-bs-target="#@_stBild.ImageReference">
                </div>
                <div class="modal fade" id="@_stBild.ImageReference" tabindex="-1" aria-labelledby="@(_stBild.Title)" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen" data-bs-toggle="modal" data-bs-target="#@_stBild.ImageReference">
                        <div class="modal-content">
                            <div class="modal-body d-flex p-3">
                                <img src="/api/images/image/@_stBild.ImageReference" class="img-fluid m-auto" alt="@_stBild.Title" style="max-width: 100%; max-height: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Rubrik: (Rubrikförslag, lämpligen tre, fyra ord)</label>
                    <InputText id="title" type="title" class="form-control :invalid" readonly="true" @bind-Value="@_stBild.Title"/>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Fotograf:</label>
                    <InputText id="name" type="title" class="form-control :invalid " readonly="true" @bind-Value="@_stBild.Name"/>
                </div>
                <div class="mb-3">
                    <label for="beskrivning" class="form-label">Beskrivning: (Beskriv ditt foto)</label>
                    <InputTextArea id="beskrivning" maxlength="300" type="title" class="form-control :invalid" readonly="true" @bind-Value="@_stBild.Description"/>
                </div>
                <div class="mb-3">
                    <label for="about" class="form-label">Om dig: (ålder, bostadsort, favoritmotiv, kameramärke, favoritfotograf, hemsida)</label>
                    <InputTextArea id="about" maxlength="300" type="title" class="form-control :invalid" readonly="true" @bind-Value="@_stBild.AboutThePhotograper"/>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Vart bilden är tagen: (t.ex. plats, närmaste stad)</label>
                    <InputText id="location" type="title" class="form-control :invalid" readonly="true" @bind-Value="@_stBild.Location"/>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">När är bilden tagen:</label>
                    <InputDate id="time" class="form-control :invalid" readonly="true" @bind-Value="@_stBild.Time"/>
                </div>
                <div class="mb-3">
                    <label for="isaccepted" class="form-check-label">Godkänd:</label>
                    <InputCheckbox id="isaccepted" class="form-check-input" disabled="true" @bind-Value="@_stBild.IsAccepted"/>
                </div>
                <button type="button" class="btn btn-primary" disabled="@_stBild.IsUsed" @onclick="OnAccept">Godkänn</button>
                <button type="button" class="btn btn-danger m-lg-1" disabled="@_stBild.IsUsed" @onclick="OnReject">Avvisa</button>
                <button type="button" class="btn btn-secondary m-lg-1" @onclick="OnCancel">Avbryt</button>
            </CvEditForm>
        }
    </div>
</div>

@code {

    private StBildInfo? _stBild;

    private bool _isPackaged;

    [Parameter]
    public Guid StbildId { get; set; }
    
    [SupplyParameterFromQuery]
    public bool IsFromAcceptList { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _stBild = await StBildService.GetStBildAsync(StbildId);
        if (_stBild is not null)
            _isPackaged = _stBild.IsUsed;
        // Todo: Add error handling
        StateHasChanged();
        await base.OnInitializedAsync();
    }

    private void OnCancel()
    {
        NavigateBack();
    }

    public async Task OnAccept()
    {
        if (_stBild is not null) 
            await StBildService.SetAcceptStatusForStBild(_stBild.Id, true);
        NavigateBack();
    }
    public async Task OnReject()
    {
        if (_stBild is not null) 
            await StBildService.SetAcceptStatusForStBild(_stBild.Id, false);

        NavigateBack();
    }

    private void NavigateBack()
    {
        if (IsFromAcceptList)
            NavigationManager?.NavigateTo("/admin/st-bild/godkann");
        else
            NavigationManager?.NavigateTo("/admin/st-bild/hantera");
    }

}