@using Microsoft.AspNetCore.Components.Authorization

@if (isConnected)
{
    
<CascadingValue Value="ConsentGiven">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Authorizing...</span>
                            </div>
                        </div>
                    </Authorizing>
                    <NotAuthorized>
                        @if (context?.User?.Identity is not null && context.User.Identity.IsAuthenticated)
                        {
                            <div class="container d-flex flex-column justify-content-center align-items-center">
                                <div class="row row-cols-auto align-items-center">
                                    <p>Du saknar rättigheter att titta på denna sida.</p>
                                </div>
                            </div>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</CascadingValue>
}
else
{
    <div class="d-flex justify-content-center" >
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code {
    // private bool _isDarkMode;
    
    [Parameter]
    public bool ConsentGiven { get; set; }

    [Parameter]
    public HttpRequest? HttpRequest { get; set; }
    
    private bool isConnected;


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isConnected = true;
            StateHasChanged();
        }
        return Task.CompletedTask;
    }

}